* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
.icon {
    width: 50px;
    height: 25px;
}
.nav {
   /* display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem;
    border-bottom: 2px solid rgb(93, 238, 243);
    padding: 1rem;*/
    margin: 1rem;
}
.border-bottom {
    border-bottom: 2px solid rgb(93,238,243);
}
.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}
.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(5, 158, 158);
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.logo {
    color: rgb(26, 216, 216);
    margin-bottom: -2rem;
    margin-left: 2rem;
}
.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
main > h2 {
    text-align: center;
    margin: 1rem 0;
}
.products {
    background-color: rgb(113, 224, 252,0.2);
    padding: 1rem;
    border-radius: 7px;
    width: 250px;
    box-shadow: 1px 1px 1px rgb(113,224,252,0.5);
}
.products-button {
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(2, 128, 128);
    position: relative;
    overflow: hidden;
}
.products-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;       
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f39c12, #e74c3c);
    z-index: 0;
    transition: left 0.5s;
}

.products-button:hover::before {
  left: 0;           
}

.products-button span {
  position: relative;  
  z-index:  999;
}
.product-images {
    height: 230px;
    object-fit: cover;
    margin-bottom: .30rem;
}
.margin-onerem {
    margin: .75rem 0;
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


